{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--Это будет основной HTML от которого будут наследоваться все наши дочерние элементы-->
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" type="image/x-icon" href="{% static 'skills/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!--Статический файл отличается от динамического тем что если это ссылка на какой-то ресурс если это динамические какие-то файлы они у нас хранятся в БД, у них к ним только сохраняются путь к текущему документу.-->
    <!--Есть такое понятие как фавикон обычно это изображение 16 на 16, так как он находится на каждой нашей страничке, мы должны его подключить в base.html, подключают между тегами head в любом абсолютно месте, подключается через тег link. Это не таблица стилей поэтому в rel ставим icon. type - тип подгружаемого элемента, изображение image/x-icon x икон. C type будет быстрее обработка.-->
    <!--Хотим связать два приложения переходом-->
    <div class="menu">
        <div class="wrap__logo">
            <!--Первая часть-->
            <div class="logo">
                <!--Вводим URL что бы был переход на главную страницу по нажатию на логотип.-->
                <a href="{% url 'index' %}">
                    <img src="{% static 'skills/logo.png' %}" alt="">
                </a>
            </div>
            <!--Вторая часть, список из пунктов меню, комбинация ul>li*3>a и выводит список с ссылками-->
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'blog:blogs' %}">Блог</a></li> <!--Укажем имя самого приложения и имя urls конкретной страницы.-->
                <li><a href="{% static 'skills/resume.pdf' %}" target="_blank">Резюме</a></li> <!--Что бы не терять доступ на наш ресурс, и переход был в новом окне делаем target="_blank" -->
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="wrap"> <!--будем ограничевать ширину и выравнивания по центу-->
            {% block content %} <!--будет отображаться и прописываться в index.html данный блок -->
            {% endblock %}
        </div>
    </div>
</body>
</html>