<!--Будем наследоваться от документа base-->
{% extends 'skills/base.html' %}<!--Что бы указать что мы наследуемся, мы расширяем base HTML надо указать extends 'Имя документа, нам надо явно указать в какой папке находтся этот элемент'-->
{% load static %} <!--Будем загружать с помощью данной команды любые статические файлы, стили, JS, PDF-->
{% block content %}
<h1>Портфолио разработчика</h1>
<div class="img">
    <img src="{% static 'skills/wc.jpg' %}" alt=""> <!--Указываем папку static. Пишем не просто путь к этой картинке, а должны указать что картинка находится в папке static. Как стили css подключали.  -->
</div>

<h2>Стек технологии: </h2>
<div class="block">
    {% for project in projects %} <!--project просто переменная которая при каждой итерации из БД будет брать одну запись об одном каком то навыке нашего разработчика. -->
    <div class="element"><!--а теперь из БД хотим выводить какие та конкретные элементы.-->
        <div>
            <img src="{{ project.image.url }}" alt=""> <!--нам нужно куда-то вывести картинку. Картинка выводится в src project - является как именем ключем, а занчение то что в него попадает. В него сохраняется не сама картинка, а его url.-->
        </div>

        <div class="text">
            <h2><a href="{{ project.url }}" target="_blank">{{ project.title }}</a></h2><!--target="_blank" - что бы открывался в новой ссылке и мы не потеряли клиента, что бы он ссылку на наш сайт не потерял.-->
            <p>{{ project.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}