<!--Буде брат данные из папки skills где у нас прописан base.html корневой.-->
{% extends 'skills/base.html' %} <!--extends наследуемся от папки 'skills' дальше /внутри есть base.html-->
{% block content %}


<h1>Блог</h1>
<!--Мы хотим подсчитывать количество записей блога, постов. .count - это готовое свойство которое из блога может посчитать кол-во текущих елементов, кото-е берутся из БД.-->
<h2 class="count">Постов: {{ blogs.count }}</h2>

<!--После заголовка нам надо что бы вывелись те данные, кот-е добавились в БД-->
{% for blog in blogs %}
<div class="element">
    <h2 class="top">
        <!--Хотим переходить со страницы block на каждую отдельную страницу блока. Если нет имени приложения,то просто указываем deteil, если есть имя приложения то пишем имя blog:detail detail - это имя нашей страницы, но она принимает id элемента и после кавычек указываем - blog.id blog - это имя нашего приложения пишем через точку и id. Мы связали страницу блога с ее детальным описанием. -->
        <a href="{% url 'blog:detail' blog.id %}">
            {{ blog.title }}
        </a>
    </h2>
    <div class="blog_text">
        <!--|date:'d.m.Y' День месяц год-->
        <h5>{{ blog.date|date:'d.m.Y' }}</h5>
        <p>{{ blog.description|striptags|truncatechars:360 }}</p> <!-- фильтр |truncatechars:360 выводит заданное количество символов, в конце добавил ... три точки. Нам не нужны теги на странице предпросмотра, добавим еще один фильтр |striptags-->
    </div>
</div>

{% endfor %}

{% endblock %}